{% extends "base.html" %}
{% block title %}The latest updates on the site{% endblock %}
{% block header %}The latest updates on the site{% endblock %}
{% block content %}
{% load cache %}
{% cache 1 index_page %}
  <div class="container">
    {% include "menu.html" with index=True %}
    <!-- the posts tape Output -->
    {% for post in page %}
      <!-- new include! -->
      {% include "post_item.html" with post=post %}
    {% endfor %}
  </div>
  {% endcache %}
  <!-- paginator output -->
  {% include "paginator.html" with items=page paginator=paginator%}

{% endblock %}