<div class="card mb-3 mt-1 shadow-sm">

    <!-- img -->
    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img" src="{{ im.url }}">
    {% endthumbnail %}
    <!-- text -->
    <div class="card-body">
      <p class="card-text">
        <!-- Link to the author via @ -->
        <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
          <strong class="d-block text-gray-dark">@{{ post.author.get_username }}</strong>
        </a>
        {{ post.text|linebreaksbr }}
      </p>
  
      <!-- If the post belongs to any group, then we will display a link to it via # -->
      {% if post.group %}
        <a class="card-link muted" href="{% url 'group' post.group.slug %}">
          <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
        </a>
      {% endif %}
  
      <!-- Show comment link -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          {% if post.comments.exists %}
            <div>
              Comments: {{ post.comments.count }}
            </div>
          {% endif %}
          <a class="btn btn-sm btn-primary" href="{% url 'post' post.author.username post.id %}" role="button">
            Add comment
          </a>
  
          <!-- Link to edit the post for the author -->
          {% if user == post.author %}
            <a class="btn btn-sm btn-info" href="{% url 'edit' post.author.username post.id %}" role="button">
              Edit
            </a>
          {% endif %}
        </div>
  
        <!-- post pub date -->
        <small class="text-muted">{{ post.pub_date }}</small>
      </div>
      <div class="d-flex justify-content-between align-items-center">
      <span style="position:absolute;right: 2.7em;">
      <small class="text-muted">Views {{ post.counter }}</small>
      </span>
      </div>
    </div>
  </div> 